
<div class="col-xs-12">
  <p>Mis à jour : Reservations {{ lastUpdate  | async | date: 'y MMMM EEEE d' | uppercase }} , par ZOFFKHAN </p>
   
   <form [formGroup]="resaForm" (ngSubmit)="onSaveResa('true','false')">
       <div class="form-group">
           <label for="new_row">A quelle rangée voulez vous aller ?</label>
           <input style="height: 20px ;width:200px ;background-color:rgb(236, 234, 234)" type="text" class="form-control" id="new_row" formControlName="new_row" ngDefaultControl> 
      </div>
   
       <div class="form-group">
           <label for="new_order">combien de places voulez vous acheter ? </label>
           <input style="height: 20px ;width:200px ;background-color:rgb(236, 234, 234)" type="text" class="form-control" id="new_order" formControlName="new_order" ngDefaultControl> 
     </div>

     <div style="width:200px;height:20px;" > </div>
   
   
   
   
     <div style="width:200px;height:20px;background-color:rgb(255, 0, 0);" 
   *ngIf="bookerror === 'true' && my_plan != 'true' && place_libre !=null" >
  
     <p>places dispo : {{place_libre}} </p>
   
     </div>

    

     <div style="width:200px;height:20px;">
   </div>
       
       <button class="button button2"  type="submit">Vérifier la disponibilité</button>
    </form>

  

      <table *ngIf ="reservations" style="border: 3px solid silver;">
        <th *ngFor = "let column of headers">
          <div style="border: 1px solid silver;width:80px;height:40px;background-color:rgb(235, 243, 130);" *ngIf="my_plan === 'true'" > <p style="text-align: center">   {{column}} </p> </div>
        </th>
        
        <tr *ngFor ="let i of rowIndexArray ; "> 
          <div style="border: 1px solid silver; width:80px;height:40px;background-color:rgb(235, 243, 130);" *ngIf="my_plan === 'true' " > Rangée {{i+1}} </div>
            
            <td *ngIf="reservations[9*i]">
              <div *ngIf="reservations[9*i].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i].id)">
                    book :{{reservations[9*i].id}} 
                  </button>
              </div>   
              <div *ngIf="reservations[9*i].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i].id)">
                  booked :{{reservations[9*i].id}} 
                </button>
              </div>
            </td>

            <td *ngIf="reservations[9*i+1]">
              <div *ngIf="reservations[9*i+1].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i+1].id)">
                    book :{{reservations[9*i+1].id}} 
                  </button>
              </div>
              <div *ngIf="reservations[9*i+1].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i+1].id)">
                  booked :{{reservations[9*i+1].id}} 
                </button>
              </div>
            </td>

            <td *ngIf="reservations[9*i+2]">
              <div *ngIf="reservations[9*i+2].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i+2].id)">
                    book :{{reservations[9*i+2].id}} 
                  </button>
              </div>
              <div *ngIf="reservations[9*i+2].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i+2].id)">
                  booked :{{reservations[9*i+2].id}} 
                </button>
              </div>
            </td>

            <td *ngIf="reservations[9*i+3]">
              <div *ngIf="reservations[9*i+3].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i+3].id)">
                    book :{{reservations[9*i+3].id}} 
                  </button>
              </div>
              <div *ngIf="reservations[9*i+3].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i+3].id)">
                  booked :{{reservations[9*i+3].id}} 
                </button>
              </div>
            </td>

            <td *ngIf="reservations[9*i+4]">
              <div *ngIf="reservations[9*i+4].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i+4].id)">
                    book :{{reservations[9*i+4].id}} 
                  </button>
              </div>
              <div *ngIf="reservations[9*i+4].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i+4].id)">
                  booked :{{reservations[9*i+4].id}} 
                </button>
              </div>
            </td>

            <td *ngIf="reservations[9*i+5]">
              <div *ngIf="reservations[9*i+5].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i+5].id)">
                    book :{{reservations[9*i+5].id}} 
                  </button>
              </div>
              <div *ngIf="reservations[9*i+5].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i+5].id)">
                  booked :{{reservations[9*i+5].id}} 
                </button>
              </div>
            </td>

            <td *ngIf="reservations[9*i+6]">
              <div *ngIf="reservations[9*i+6].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i+6].id)">
                    book :{{reservations[9*i+6].id}} 
                  </button>
              </div>
              <div *ngIf="reservations[9*i+6].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i+6].id)">
                  booked :{{reservations[9*i+6].id}} 
                </button>
              </div>
            </td>

            <td *ngIf="reservations[9*i+7]">
              <div *ngIf="reservations[9*i+7].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i+7].id)">
                    book :{{reservations[9*i+7].id}} 
                  </button>
              </div>
              <div *ngIf="reservations[9*i+7].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i+7].id)">
                  booked :{{reservations[9*i+7].id}} 
                </button>
              </div>
            </td>

            <td *ngIf="reservations[9*i+8]">
              <div *ngIf="reservations[9*i+8].status === 'libre' " >
                <button class="bfree" [disabled]="bookerror === 'true'" 
                    (click)="onBookSeat(reservations[9*i+8].id)">
                    book :{{reservations[9*i+8].id}} 
                  </button>
              </div>
              <div *ngIf="reservations[9*i+8].status === 'réservé'" >
                <button class="bbooked" [disabled]="bookerror === 'true'" 
                (click)="onFreeSeat(reservations[9*i+8].id)">
                  booked :{{reservations[9*i+8].id}} 
                </button>
              </div>
            </td>
           
   
       </tr>


     
       

      </table>
                  
                   
   <div>
      <button class="button button2"  (click)="OnRAZ()">Plan de la salle (option booking désactivée)</button> 
    </div>
    <div>           
      <button class="button button2"  (click)="OnRAZ1()">Plan de la salle (passer de book à booked et inversement )</button> 
    </div>
<div>
      <button class="button button2" (click)="onBook()">Tout réserver </button>
    </div>
    <div>
         <button class="btn btn-danger" (click)="onFree()">Tout libérer </button>
        </div>
   
   
   
   
   
