button { 
    min-height: 23px !important; 
    min-width: 46px !important; 
    font-size: 10px !important; 
    line-height: 0px; 
} 

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .bfree{
    width:80px;
    height:20px;
    background-color:rgb(0, 255, 191);
    z-index: 2;
  }
  
  .bbooked{
    width:80px;
    height:20px;
    background-color:rgb(255, 0, 0);
    z-index: 2;
  }

